body{
    margin: 0;
    padding: 0;
}
.headercontainer{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}
.headerSousMenu{
    background-color: transparent;
    width: 100%;
    height: 13.5vh;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.headerSousMenuWhite{
    background-color: #ffffff;
    position: fixed;
    animation-name: exampleStyle;
    animation-duration: 1.5s;
}

@keyframes exampleStyle {
    from { background-color: transparent;}
    to{background-color: #ffffff;}
    
}
.humburgerMidle{
    display: inline-block;
    width: 23px;
    height: 2px;
    background-color: #adaba5;
    
}
.humburgerMidle::before{
    content: '';
    display: block;
    position: relative;
    top: -6px;
    width: 23px;
    height: 2px;
    background-color: #adaba5;
}
.humburgerMidle::after{
    content: '';
    display: block;
    position: relative;
    bottom: -4px;
    width: 23px;
    height: 2px;
    background-color: #adaba5;
    clear: both;
}
.headerContainerMenu{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.container{
    border: 1px solid gray;
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}
.box{
    border-radius: 5px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    scroll-snap-align: start;
}
.two{
    background-color: royalblue;
}
.three{
    background-color: salmon;
}
.logo-dark{
    display: none;
}
