body{
    margin: 0;
    padding: 0;
}
.headercontainer{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}
.headerSousMenu{
    background-color: transparent;
    width: 100%;
    height: 13.5vh;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.headerSousMenuWhite{
    background-color: #ffffff;
    position: fixed;
    animation-name: exampleStyle;
    animation-duration: 1.5s;
}

@keyframes exampleStyle {
    from { background-color: transparent;}
    to{background-color: #ffffff;}
    
}
.containerMenuHumburger{
  border: 1px solid red;
  padding: 0.5em;
}
.humburgerMidle{
    display: inline-block;
    width: 23px;
    height: 2px;
    background-color: #adaba5;
    
}
.humburgerMidle::before{
    content: '';
    display: block;
    position: relative;
    top: -6px;
    width: 23px;
    height: 2px;
    background-color: #adaba5;
    /* transform: skewY(-35deg); */
    /* animation: menuHumburgerGauche 2s ease-in-out both;*/
    animation: var(--animation12, '');
}
.humburgerMidle::after{
    content: '';
    display: block;
    position: relative;
    bottom: -4px;
    width: 23px;
    height: 2px;
    background-color: #adaba5;
    clear: both;
   /* animation: menuHumbergerDroite 2s ease-in-out both;*/
    animation: var(--animation11, '');

}
.headerContainerMenu{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.container{
    border: 1px solid gray;
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}
.box{
    border-radius: 5px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    scroll-snap-align: start;
}
.two{
    background-color: royalblue;
}
.three{
    background-color: salmon;
}
.logo-dark{
    display: none;
}
.testAnimationCyrcle{
    border: 2px solid yellow;
    border-radius: 50%;
    width: 6rem;
}
.testAnimationCyrcle::after{
    content: " ";
    width: 20%;
    background-color: beige;
    display: block;
}


/* ANIMATION HUMBURGER MENU HUMBURGER */
@keyframes menuTransform {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

/* ANIMATION HUMBERGER GAUCHE */
@keyframes menuHumburgerGauche {
    from{
       top: -6px;
       width: 23px; 
    }
    to{
        top: -4px;
        width: 10px;
        transform: skewY(-35deg);
    }
}
/* ANIMATION HUMBERGER DROITE */
@keyframes menuHumbergerDroite {
    from{
        bottom: -6px;
        width: 23px;
    }to{
        bottom: -2px;
        width: 10px;
        transform: skewY(35deg);

    }
}